<div>
    <div class="item-view-header">
    <i class="fa fa-folder-open"></i><span box-breadcrumbs item="folder"></span>
    <i class="fa fa-bars"><ul>
      <li>Transfers <i class="fa fa-exchange"></i></li>
      <li>Settings <i class="fa fa-cog"></i></li>
    </ul></i>
    </div>
    <i class="fa fa-share-square-o"></i>
    <span box-user-info></span>
    <span class="folder-view-header-numbers" ng-pluralize count="numFolders"
    when="{'0': '', 'one': '1 Folder, ', 'other': '{} Folders, '}"></span>
    <span class="folder-view-header-numbers" ng-pluralize count="numFiles"
    when="{'0': 'No Files', 'one': '1 File', 'other': '{} Files'}"></span>
    <div class="item-view-body">
        <div class="folder-view-item-wrapper" ng-repeat="item in items">
            <div box-item item="item" thumbnail-size="thumbnailSize"></div>
        </div>
    </div>
    <div class="item-view-footer">
    </div>
</div>