@font-face {

    font-family: Contrail One;
    src: url(../fonts/ContrailOne-Regular.ttf);
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.item-view-header {
    padding: 0.5em;
    background: rgba(38,123,182,1);
    background: -webkit-linear-gradient(left, rgba(38,123,182,1), rgba(0,0,0,.4));
    background: -o-linear-gradient(left, rgba(38,123,182,1), rgba(0,0,0,.4));
    background: linear-gradient(to right, rgba(38,123,182,.75), rgba(38,123,182,.8));
    color: #FFFFF8;
    font-family: 'Contrail One', cursive;
    margin-bottom: 2px;
} 
.user-image{
    /*display: block;*/
    margin: 2.4em 1em;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.07);
    border-radius: 50%;
    cursor: default;
    max-width: 40px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 
    3px 3px 10px 1px rgba(0,0,0,.15),
    inset 3px 3px 10px 1px rgba(0,0,0,.15); 
}
.fa-bars{
    cursor: pointer;
    float: right;
}
.fa-folder-open{
    margin-right: 0.5em;
}
.fa-share-square-o{
    text-align: center;
    cursor: pointer;
    padding: .6em .6em;
    margin: 1.25em 0.5em 1em 0;
    color: rgba(0,0,0,0.4);
    border: 1px solid rgba(0,0,0,0.075);
    position: relative;
    border-radius: 50%; 
    display: inline-block;
    float: right;
    font-size: 20pt;
        -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.user-image:hover{
    box-shadow: 
    0px 0px 10px 1px rgba(0,0,0,.3),
    inset 0px 0px 10px 1px rgba(0,0,0,.3); 
}
.user-name{
    text-shadow: 0 0 0.5px rgba(255,255,255,0.1);
    vertical-align: middle;
    color: rgba(0,0,0,.9);
    font-size: 20pt;
}
.folder-view-header-numbers{
    color: rgba(0,0,0,0.2);
    /*font-size: 13pt;*/
}     
.directoryMarker {
    /*color: rgba(0,0,0,.1)*/
    text-shadow: 0 0 0.5px rgba(255,255,255,0.1);
    background: radial-gradient(transparent, rgba(0,0,0,.3));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    margin: 0 1em;
    text-transform: uppercase;
    display: inline-block;
    transform : scale(2.5,3);
    -webkit-transform:scale(2.5,3);
}
.item-view-body {
    height: 95%;
    overflow-y: auto;
}
.item-view-footer {
    position: absolute;
    bottom: 0;
}

.box-item-thumbnail {
    vertical-align: bottom;
    display: inline-block;
    padding: 0.2em;
    margin-right: 0.3em;
}

.box-item-body {
    line-height: 16px;
    display: inline-block;
    cursor: pointer;
}

.box-item {
    padding: 1em;
    border-top: 1px solid rgba(1,1,1,0.1);
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    -ms-transition: all 0.10s ease-in-out;
    -o-transition: all 0.10s ease-in-out;
}
.box-item:first-of-type {
    border-top: 1px solid rgba(1,1,1,0.1);
}
.box-item:hover {
    box-shadow: inset 0px 0px 7px 1px rgba(248,248,248,1); 
}

.box-item-body-title {
    display: block;
    padding: 0.2em;
    font-weight: bold;
}

.box-item-body-size, .box-item-body-name {
    display: inline-block;
    padding: 0.2em;
}

.box-breadcrumb-parent,
.box-breadcrumb-leaf {
    cursor: pointer;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.box-breadcrumb-parent:hover,
.box-breadcrumb-leaf:hover {
    color: rgba(0,0,0,.9);
    text-shadow: 0 0 0.5px rgba(255,255,255,0.1);
    cursor: pointer;
    box-shadow: 
    0px 0px 5px 1px rgba(0,0,0,.03),
    inset 0px 0px 5px 1px rgba(0,0,0,.03); 
}
.box-file-info {
    text-align: center;
    padding: 0.5em;
    display: inline-block;
}
.box-file-info-left {
    width: 25%;
    text-align: right;
    color: lightgray;
}
.box-file-info-right {
    width: 70%;
    text-align: left;
}
.box-file-thumbnail {
    /*width: 100%;*/
    margin: 1em auto;
    text-align: center;
}

.filedrag {
	font-weight: bold;
	text-align: center;
	padding: 2em 1em;
	margin: 2em auto;
	color: rgba(0,0,0,0.4);
	border: 2px dashed rgba(0,0,0,0.075);
	border-radius: 50%;
	cursor: default;
    max-width: 100px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.filedrag:hover {
    background: url(../img/arrow.png);
    background-size: cover; 
    border: 2px dashed rgba(0,0,0,0.2);
	color: rgba(0,0,0,0.6);
	border-color: rgba(0,0,0,0.4);
    box-shadow: 
    0px 0px 25px 1px rgba(0,0,0,.05),
    inset 0px 0px 25px 1px rgba(0,0,0,.05); 
}
.filedrag .hover {
    background: url(../img/arrow.png);
    background-size: cover; 
    border: 2px dashed rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.4);
    box-shadow: 
    0px 0px 25px 1px rgba(0,0,0,.05),
    inset 0px 0px 25px 1px rgba(0,0,0,.05); 
}